:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #3d3c3c;
  --light-blue: #9ecef5;
  --light-grey: #d9d9d9;
  --white: #ffffff;
  --active-focus: #489c79;
  --grid-bg-color: #fffaf0;
  --button-color: #c574c55b;
  --button-text-primary: #da3908;
  --primary-font-size: 16px;
  --primary-font-weight: 400;
  --h1-font-size: 40px;
  --h1-font-weight: 750;
  --p-font-size: 25px;
  --p-font-weight: 600;
}

body {
  background-color: var(--light-blue);
  font-family: "McLaren", cursive;
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.6;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 5%;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  text-align: center;
}

p {
  font-size: var(--p-font-size);
  font-weight: var(--p-font-weight);
  text-align: center;
}

.box {
  width: 350px;
  padding: 5px;
  border: 5px solid white;
  margin: 5;
  text-align: center;
}

ul {
  margin: 20px;
  padding: 10px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.my-class {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-style: bold;
  font-size: 14px;
  margin: 6px 3px;
  background-color: var(--button-color);
  color: var(--button-text-primary);
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid rgba(182, 59, 59, 0.3);
  transition-duration: 0.4s;
  transition-property: opacity;
}

.my-class:hover {
  background-color: var(--button-color);
  color: white;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 0px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: rgb(209, 109, 109);
  padding: 15px;
  width: 80%;
  max-width: 400px;
  text-align: left;
}

.modal-img {
  display: block;
  margin-left: center;
  margin-right: center;
  width: 50%;
  height: auto;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
  font-family: "McLaren", cursive;
  font-size: 12px;
  font-weight: bold;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}
